.detailCard .attackline .totallife {
  font-size: 0.7em;
}

.detailCard .cardarea {
  height: 100%;
}

.detailCard * {
  font-size: 1em;
}
.detailCard * * {
  font-size: 1em;
}
.detailCard * * {
  font-size: 1em;
}
.detailCard.type-persona .cardbox {
  display: block;
  width: 90%;
  position: relative;
  top: 55%;
  margin: auto;
  height: 2.4em;
}
.detailCard.type-persona .cardsubtype {
  top: 55%;
}
.detailCard .cardbox {
  display: block;
  width: 90%;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid grey;
  margin: auto;
  height: 2.4em;
  overflow: hidden;
  text-align: bottom;
  font-size: 0.6em;
}
.detailCard .cardbox .cardtext {
  font-style: italic;
  font-size: 0.8em;
}

.detailCard.type-location .cardbox {
  width: 90%;
  position: relative;
  top: 70%;
  margin: auto;
  height: 2.4em;
}
.detailCard.type-location .cardsubtype {
  position: relative;
  top: 70%;
}
.detailCard .playerdata {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  border-radius: 0.5em;
  font-size: 0.45em;
}
.detailCard .playerdata svg {
  vertical-align: sub;
  display: inline-block;
}

.detailCard .abilityCostText svg {
  vertical-align: middle;
  display: inline-block;
}
.detailCard .abilityText svg {
  vertical-align: middle;
  display: inline-block;
}
.detailCard .spacer {
  border: 1px solid grey;
}
.detailCard .playerresources {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.detailCard .playerdeck {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.detailCard .manaline {
  width: 100%;
  text-align: justified;
  margin-top: 0px;
  padding-bottom: 0.1em;
  padding-top: 0em;
  display: flex;
  height: 0.7em;
  background-color: rgba(255, 255, 255, 0.75);
}
.detailCard .costline {
  flex-grow: 1;
  padding-left: 0.2em;
  font-size: 0.6em;
  text-align: left;
  height: 0.7em;
  vertical-align: middle;
}
.detailCard .attackline {
  display: flex;
  width: 100%;
  text-align: justified;
  margin-bottom: 0px;
  padding-bottom: 0.1em;
  padding-top: 0em;
  font-size: 0.7em;
  height: 1.2em;
  justify-content: right;
  top: -0.3em;
  position: relative;
}
.detailCard .bottomline {
  height: 3em;
}
.detailCard .attackline .attack {
  color: rebeccapurple;
  margin-right: 0.2em;

  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.75);
}
.detailCard .attackline .life {
  color: orangered;

  border-radius: 0.3em;
  margin-right: 0.2em;
  background-color: rgba(255, 255, 255, 0.75);
}
.detailCard .sacline {
  padding-right: 0.2em;
  flex-grow: 1;
  font-size: 0.6em;
  text-align: right;
  height: 0.7em;
  vertical-align: middle;
}

.detailCard .cardpic {
  border: 1px solid grey;
  width: 6.5em;
  margin: auto;
  height: 4.4em;
  overflow: hidden;
  text-align: bottom;
}

.detailCard .cardpic img {
  width: 100%;

  height: auto;
  bottom: 0;
}
.detailCard div {
  z-index: 5;
  font-size: 1em;
}
.detailCard.type-persona .cardpic {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: -100;
}
.detailCard.type-persona .cardpic img {
  width: 100%;
  height: auto;
  display: absolute;
  left: 0;
  top: 0;
}

.detailCard.type-location .cardpic {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: -100;
}
.detailCard.type-location .cardpic img {
  width: 100%;
  height: 100%;
  display: absolute;
  left: 0;
  top: 0;
}
.detailCard.type-persona .manaline {
  visibility: hidden;
  display: none;
}
.detailCard .nameline {
  font-size: 0.7em;
  padding: 0;
}
.detailCard .nameline .cardname {
  color: white;
  border-radius: 0.3em;
  background-color: rgba(3, 3, 3, 0.75);
  text-align: center;
}

.detailCard .playerline {
  width: 100%;
  text-align: justified;
  margin-top: 0px;
  padding-bottom: 0.1em;
  padding-top: 0em;
  display: flex;
  height: 0.7em;
  background-color: rgba(255, 255, 255, 0.75);
}
.detailCard .playerline .playername {
  padding-right: 0.2em;
  flex-grow: 1;
  font-size: 0.6em;
  text-align: center;
  height: 0.7em;
  vertical-align: middle;
}
.detailCard {
  height: 11em;
  width: 7.5em;
  padding: 0;
  margin: 0;
  color: black;
  border-radius: 0.7em;
  font-size: 1.9em;

  border: 1px solid black;
  color: black;
  overflow: hidden;
}

.detailCard.cardStyleEmpty {
  border: 1px solid white;
  background: linear-gradient(
    rgba(125, 125, 125, 0.5),
    rgba(200, 200, 200, 0.5)
  );
}
.detailCardContainer {
  height: 28em;
  width: 14em;
}

.detailCard .textbox {
  border: 1px solid black;
  background: lightblue;
  font-style: italic;
}

.detailCard .ability {
  border: 1px solid black;
  background: rgba(111, 202, 238, 0.8);
  text-align: left;
  position: relative;
  font-size: 0.5em;
  line-height: 80%;
  width: 100%;
  display: flex;
}
.detailCard .speedbox {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0.1em 0.3em;
  vertical-align: middle;
  height: 100%;
  position: relative;
}

.detailCard .speedbox.speed0 {
  color: black;
  background: linear-gradient(
    red,
    orange,
    yellow,
    rgb(124, 233, 124),
    rgb(124, 124, 243)
  );
}

.detailCard .speedbox.speed1 {
  color: rgb(0, 0, 0);
  background: linear-gradient(gold, orange);
}
.detailCard .speedbox.speed2 {
  color: rgb(0, 0, 0);
  background: linear-gradient(silver, grey);
}
.detailCard .speedbox.speed3 {
  color: rgb(0, 0, 0);
  background: linear-gradient(chocolate, brown);
}
.detailCard .speedbox.speed4 {
  color: rgb(0, 0, 0);
  background: rgb(160, 160, 146);
}
.detailCard .speedbox.speed5 {
  color: rgb(0, 0, 0);
  background: rgb(112, 112, 108);
}
.detailCard .speedbox.speed6 {
  color: black;
}
.detailCard .speedbox svg {
  border-right: 1px solid black;
  height: 100%;
  vertical-align: middle;
}
.detailCard .speedBox.speed0 svg {
  color: green;
}
.detailCard .abilityHasButton {
  padding-left: 0.2em;

  flex-grow: 1;
}
.detailCard .abilityText {
  font-size: 0.8em;
}
.detailCard button {
  position: absolute;
  right: 0.5em;
  top: 0.1em;
  height: 90%;
  width: 2em;
  border-radius: 1em;
}
.abilitytray {
  width: 14em;
  height: 7em;
  border: 1px solid black;
  background: grey;
}
.graveyard {
  font-size: 0.5em;
}
.detailCard .abilityset {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 2.2em;
}

.detailCard.type-location .abilityset {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
  top: 2em;
}

.detailCard.type-location .abilitycontainer {
  width: 100%;
}
.detailCard.type-location .abilities .ability {
  width: 100%;
}
.detailCard .abilityName {
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
  padding-left: 0.3em;
}

.detailCard.type-persona .abilityset {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0em;
}

.detailCard.type-persona .abilities {
  height: 4.2em;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: end;
}

.detailCard.type-location .abilities {
  height: 2.4em;
  height: 3em;
  display: flex;
  align-items: self-end;
}

.detailCard.type-persona .abilitycontainer {
  width: 100%;
}
.detailCard.type-persona .abilities .ability {
  width: 100%;
}

.detailCard.color-anodyne {
  background-image: linear-gradient(
      rgba(155, 155, 155, 0.5),
      rgba(155, 155, 155, 0.5)
    ),
    url("/assets/anodyne.jpg");
  background-size: cover;
}

.cardsubtype {
  background: rgba(255, 255, 255, 0.5);
  left: 5%;
  border-radius: 1em;
  position: relative;
  width: 90%;
  display: flex;
  font-size: 0.4em;
  font-weight: bold;
  height: 0.3em;
  text-align: center;
  padding: auto;
  vertical-align: top;
  line-height: 0.2em;
}
.cardsubtype label {
  font-size: 0.4em;
}
.cardsubtype .subtype {
  font-size: 0.4em;
  padding-left: 0.2em;
  text-transform: capitalize;
}

.cardRow .dizzy {
  opacity: 75%;
  position: absolute;
  top: 1.2em;
  left: 1em;
}
.cardRow .dizzy svg {
  color: orange;
  width: 5em;
  height: 5em;
}
.cardRow .dizzy.dizzyvis {
  display: block;
}
.cardRow .dizzy.dizzyunvis {
  display: none;
}

.cardStyle {
  position: relative;
}
.handcontainer .dizzyvis {
  display: none !important;
}
