.editor {
  background-color: white;
  display: flex;
}

.cards {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  width: 20em;
  align-items: flex-start;
  align-content: flex-start;
}
.smallcards {
  height: 12em;
}
.bigcards {
  height: 12em;
}
.superbig {
  height: 25em;
}

.texteditor {
  overflow-y: scroll;
  height: 100vh;
}

.wheelcontrol {
  width: 18em;
  color: black;
}
.wheelcontrol * {
  color: black;
}
.deckvisual {
  position: relative;
}
.deckvisual .personacard .cardStyleClickable {
  filter: unset !important;
  box-shadow: none !important;
  color: black;
  transform: scale(1);
  z-index: 50;
}
.deckvisual .personacard .cardStyleClickable:hover {
  box-shadow: none !important;
  background-color: grey;
  transform: scale(1);
  z-index: 100;
}
.deckvisual .personacard .cardStyleClicked {
  background-color: rgb(255, 214, 208);
  filter: unset !important;
  transform: scale(1);
}
.deckvisual {
  position: relative;
}
.deckvisual .deckicon svg {
  position: absolute;
  left: 15%;
  bottom: -10%;
  height: 70%;
  width: 70%;
  z-index: 200;
  filter: drop-shadow(0 0 0.1em #fff)
    drop-shadow(/* inner white */ 0 0 0.2em #f0f)
    drop-shadow(/* middle magenta */ 0 0 0.3em #0ff /* outer cyan */);

  pointer-events: none;
}
#deckchooser {
  display: flex;
}

#deckEditor .cardStyleClickable {
  filter: unset !important;
  box-shadow: none !important;
  color: black;
  transform: scale(1);
  z-index: 50;
}
#deckEditor .cardStyleClickable:hover {
  box-shadow: none !important;
  background-color: grey;
  transform: scale(1);
  z-index: 100;
}
#deckEditor .cardStyleClicked {
  background-color: rgb(255, 214, 208);
  filter: unset !important;
  transform: scale(1);
}
#deckEditor .personacard {
  position: relative;
}
#deckEditor .deckcardvisual {
  position: relative;
  height: 10em;
}
#deckEditor .ownedcardvisual {
  position: relative;
  height: 10em;
}
.ownedcards {
  display: flex;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  overflow-x: scroll;
  height: 20em;
  flex-wrap: wrap;
}
.currentdeck {
  display: flex;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  height: 20em;
  flex-wrap: wrap;

  overflow-x: scroll;
}
.ownedpersonas {
  display: flex;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;

  overflow-y: scroll;
}
.personapicker {
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
}
.cardpicker {
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
}

.currentpersona {
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
}

#deckEditor .amount {
  position: absolute;
  font-size: 3em;
  left: 15%;
  bottom: -10%;
  height: 70%;
  width: 70%;
  z-index: 200;
  filter: drop-shadow(0 0 0.1em #fff)
    drop-shadow(/* inner white */ 0 0 0.2em #f0f)
    drop-shadow(/* middle magenta */ 0 0 0.3em #0ff /* outer cyan */);
  pointer-events: none;
}
#deckEditor {
  display: flex;

  max-height: 100vh;
  overflow-y: scroll;
}
#deckEditor .symbolpicker {
  display: flex;
  flex-wrap: wrap;
  width: 11em;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  overflow-y: scroll;
}
#deckEditor .symbolpicker svg {
  filter: drop-shadow(0 0 0.1em #fff)
    drop-shadow(/* inner white */ 0 0 0.2em #f0f)
    drop-shadow(/* middle magenta */ 0 0 0.3em #0ff /* outer cyan */);
  width: 3em;
  height: 3em;
  pointer-events: none;
}
#deckEditor .currentpersonabox {
  position: relative;
  width: 7.5em;
}
#deckEditor .currentpersonabox .deckicon svg {
  position: absolute;
  left: 15%;
  bottom: -10%;
  height: 70%;
  width: 70%;
  z-index: 200;
  filter: drop-shadow(0 0 0.1em #fff)
    drop-shadow(/* inner white */ 0 0 0.2em #f0f)
    drop-shadow(/* middle magenta */ 0 0 0.3em #0ff /* outer cyan */);
  pointer-events: none;
}

#deckEditor .dizzy {
  display: none;
}

.gameplayer {
  display: flex;
}

.matchplayerline {
  display: flex;
}

.opengames {
  display: flex;
}

.opengames .match {
  padding: 1em;
  margin: 1em;
  background-color: rgb(65, 64, 64);
  border-radius: 2em;
}

.mainmenu {
  display: flex;
}
.menubuttons {
  display: flex;
  flex-wrap: wrap;
  width: 40em;
}

.menuoption {
  width: 15em;
  height: 15em;
  position: relative;
  border: 1px solid white;
  border-radius: 1em;
}

.menuoption svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  filter: drop-shadow(0 0 0.1em #fff)
    drop-shadow(/* inner white */ 0 0 0.2em #f0f)
    drop-shadow(/* middle magenta */ 0 0 0.3em #0ff /* outer cyan */);
}
.menuoption {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.menuoption .play-text {
  text-align: center;
  padding-top: auto;
  display: table-cell;
  vertical-align: bottom;
  font-size: 3em;
  line-height: 0.8em;
  flex-grow: 1;
  vertical-align: text-bottom;
  filter: drop-shadow(0 0 0.1em #fff)
    drop-shadow(/* inner white */ 0 0 0.2em #f0f)
    drop-shadow(/* middle magenta */ 0 0 0.3em #0ff /* outer cyan */);
  color: white;
  display: flex;
  align-content: bottom;
  align-items: end;
}

.menuoption .play-text .play-name {
}
.menuoption .play-description {
  text-align: center;
  flex-grow: 1;
  font-size: 1.5em;
  color: white;
  filter: drop-shadow(0 0 0.1em #fff)
    drop-shadow(/* inner white */ 0 0 0.2em #f0f)
    drop-shadow(/* middle magenta */ 0 0 0.3em #0ff /* outer cyan */);
}

#deckchooser .verticaldeckslice .selected {
  border: 1px solid rgb(170, 170, 214);
  border-radius: 2em;
  height: 2em;
}
#deckchooser .verticaldeckslice .selected button {
  border: 1px solid rgb(170, 170, 214);
  border-radius: 2em;
  height: 2em;
  width: 100%;
}

.CraftingInterface .entrybox {
  border: 2px solid aqua;
  border-radius: 2em;
}

.CraftingInterface .letters {
}

.CraftingInterface .letterbox {
  border: 2px solid aqua;
  border-radius: 2em;
  display: flex;
  height: 6em;
}

.CraftingInterface .letterbox .selectletter {
  width: 100%;
  height: 4em;
  padding: 0.5em;
}

.CraftingInterface .letterbox .letter {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  flex-basis: 0;
}

.CraftingInterface .letterbox .letter svg {
  width: 2em;
  height: 2em;
  padding: 0.5em;
}
.CraftingInterface .wordentry {
  text-align: center;
}
.CraftingInterface .wordletters {
  display: flex;
  width: 70%;
  height: 2em;
  padding: 1em;
  font-size: 2em;
  letter-spacing: 1em;
  text-align: center;
}
.gotacard {
  width: 100dvw;
}
.gotcards {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.verticaldeckslice {
}

.knownrecipes {
  display: flex;
  border: 1px solid white;
  border-radius: 2em;
  padding: 1em;
}
.knownrecipes .recipe {
  display: block;
  border: 1px solid white;
  border-radius: 1em;

  transform: rotate(-45deg);
  line-height: 50%;
  color: black;
  background-color: rgb(183, 196, 152);
  height: 100%;
}

.knownrecipes .recipe.recipetext {
  display: block;
  border: 1px solid white;
  border-radius: 1em;

  padding: 0.4em;
  transform: translateY(1em) rotate(-45deg);

  line-height: 50%;
  color: black;
  background-color: rgb(183, 196, 152);
  height: 100%;
}

.knownrecipes .recipe.recipetitle {
  border: 1px solid white;
  border-radius: 1em;
  padding: 0.2em;
  line-height: unset;
  margin-right: 2em;
  background-color: grey;
}
